[user]
	name = daveols
	email = 10344370+daveols@users.noreply.github.com
[merge]
    # include summaries of merged commits in newly created merge commit messages
    log = true
[diff]
    # detect copies as well as renames
    renames = copies