[user]
	name = daveols
	email = 10344370+daveols@users.noreply.github.com
	signingkey = 8BCD729C7FB0C911
[merge]
    # include summaries of merged commits in newly created merge commit messages
    log = true
[diff]
    # detect copies as well as renames
    renames = copies
[pull]
	ff = only
[commit]
	gpgsign = true
[gpg]
	program = gpg
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
